$black: #000000;
$brightGreen: #40d13b;
$lightDarkGreen: #558557;
$darkgrey: #161616;

$txt_color0: $black;
$txt_color1: $brightGreen;
$txt_color2: $lightDarkGreen;

$brdr_color0: $black;
$brdr_color1: $lightDarkGreen;

$bg_color0: $black;
$bg_color1: $black;
$bg_color2: $lightDarkGreen;
$bg_color3: $darkgrey;

@mixin setFont($family, $weight, $size, $lineHeight) {
  font-family: $family, sans-serif;
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
}