@import "../../../variables";

.title {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.item-title {
    font-weight: normal;
}

.container {
    width: 80%;
    margin: 30px auto;

    .exhibitions {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 30px;

        .exhibition-item {
            width: 44%;
            height: 300px;
            border-radius: 15px;
            margin-top: 50px;
            border: 5px solid white;
            box-shadow: 0 0 20px rgba(0,0,0,0.7);
            cursor: pointer;

            img {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }

            .name, .cost {
                color: white;
                font-size: 30px;
                font-weight: bolder;
                position: relative;
                top: -80px;
                left: 10px;
            }
            .cost {
                font-weight: normal;
            }
        }
    }

    .guides {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .guides-item {
            width: 23%;
            height: 500px;
            border-radius: 15px;
            margin-top: 50px;
            border: 5px solid white;
            box-shadow: 0 0 20px rgba(0,0,0,0.7);
            cursor: pointer;

            img {
                display: block;
                width: 100%;
                height: 80%;
                border-radius: 15px 15px 0 0 ;
            }

            .name, .cost {
                font-size: 30px;
                font-weight: bolder;
                position: relative;
                top: 10px;
                left: 10px;
            }
            .cost {
                font-weight: normal;
            }
        }
    }
}